.page {
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
  .block_1 {
    position: relative;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngf44772e6f800ff0e4db76d0a6839e53b328bbc9d9e9e05ac679d8b8dee7bf074)
      100% no-repeat;
    background-size: 100% 100%;
    padding: 28rpx 0 148rpx 0;
    .box_1 {
      margin: 0 28rpx 0 68rpx;
      .text_10 {
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 30rpx;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 42rpx;
      }
      .label_3 {
        width: 34rpx;
        height: 21rpx;
        margin: 7rpx 0 14rpx 464rpx;
      }
      .label_4 {
        width: 31rpx;
        height: 22rpx;
        margin: 7rpx 0 13rpx 10rpx;
      }
      .image_5 {
        width: 50rpx;
        height: 24rpx;
        margin: 6rpx 0 12rpx 9rpx;
      }
    }
    .nav-bar_2 {
      width: 750rpx;
      margin-top: 5rpx;
      padding: 2rpx 18rpx 11rpx 20rpx;
      .icon_1 {
        width: 19rpx;
        height: 32rpx;
        margin: 12rpx 0 13rpx 0;
      }
      .applet-top-bar_1 {
        width: 145rpx;
        height: 57rpx;
      }
    }
    .box_2 {
      width: 220rpx;
      align-self: center;
      margin-top: 51rpx;
      .icon_2 {
        width: 50rpx;
        height: 50rpx;
      }
      .text_2 {
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 36rpx;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: right;
        white-space: nowrap;
        line-height: 50rpx;
      }
    }
    .text_3 {
      overflow-wrap: break-word;
      color: rgba(255, 255, 255, 1);
      font-size: 24rpx;
      font-weight: NaN;
      text-align: left;
      white-space: nowrap;
      line-height: 33rpx;
      margin: 34rpx 81rpx 0 69rpx;
    }
    .box_3 {
      width: 491rpx;
      align-self: center;
      margin-top: 108rpx;
      .button_1 {
        border-radius: 41px;
        border: 2px solid rgba(255, 255, 255, 1);
        padding: 14rpx 39rpx 14rpx 40rpx;
        .text_4 {
          overflow-wrap: break-word;
          color: rgba(255, 255, 255, 1);
          font-size: 28rpx;
          font-weight: NaN;
          text-align: right;
          white-space: nowrap;
          line-height: 40rpx;
        }
      }
      .button_2 {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 41px;
        padding: 14rpx 39rpx 14rpx 40rpx;
        .text_5 {
          overflow-wrap: break-word;
          color: rgba(249, 101, 30, 1);
          font-size: 28rpx;
          font-weight: NaN;
          text-align: right;
          white-space: nowrap;
          line-height: 40rpx;
        }
      }
    }
    .group_4 {
      background-color: rgba(216, 103, 31, 1);
      border-radius: 10px;
      align-self: center;
      margin-top: 44rpx;
      width: 674rpx;
      padding: 17rpx 16rpx 71rpx 16rpx;
      .image-wrapper_1 {
        background-color: rgba(252, 250, 244, 1);
        border-radius: 10px;
        .image_2 {
          width: 614rpx;
          height: 432rpx;
          margin: 28rpx 14rpx -15rpx 14rpx;
        }
      }
    }
    .image-wrapper_2 {
      height: 276rpx;
      background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge1d6acd33491a0c675d04364a54c337802e6b4cec47164d7b33166419a27e9d3)
        100% no-repeat;
      background-size: 100% 100%;
      width: 674rpx;
      position: absolute;
      left: 38rpx;
      top: 910rpx;
      .image_3 {
        width: 334rpx;
        height: 148rpx;
        margin: -20rpx 170rpx 148rpx 170rpx;
      }
    }
    .image_4 {
      position: absolute;
      left: 382rpx;
      top: 178rpx;
      width: 368rpx;
      height: 298rpx;
    }
  }
  .box_4 {
    position: relative;
    padding: 22rpx 24rpx 239rpx 38rpx;
    .text-wrapper_1 {
      background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng3d22c83cadc627e9e22fb303fce9c339ee1b4d1a6f4095e24c2ccf620371537f)
        100% no-repeat;
      background-size: 100% 100%;
      padding: 27rpx 19rpx 0 0;
      .text_6 {
        height: 54rpx;
        overflow-wrap: break-word;
        color: rgba(249, 101, 30, 1);
        font-size: 46rpx;
        font-family: AlTarikh;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 46rpx;
      }
      .text_7 {
        width: 603rpx;
        height: 72rpx;
        overflow-wrap: break-word;
        color: rgba(51, 51, 51, 1);
        font-size: 25rpx;
        font-weight: NaN;
        text-align: left;
        line-height: 36rpx;
        margin: 17rpx 0 0 -1rpx;
      }
      .text_8 {
        overflow-wrap: break-word;
        color: rgba(249, 101, 30, 1);
        font-size: 46rpx;
        font-family: LucidaGrande;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 54rpx;
        margin: 69rpx 0 -2rpx 11rpx;
      }
    }
    .text_9 {
      position: absolute;
      left: 275rpx;
      top: 0;
      overflow-wrap: break-word;
      color: rgba(255, 255, 255, 1);
      font-size: 25rpx;
      font-weight: NaN;
      text-align: left;
      white-space: nowrap;
      line-height: 36rpx;
    }
  }
}
