.page {
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
  padding-top: 128rpx;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  .section_2 {
    position: relative;
    background: url(https://img1.baidu.com/it/u=413643897,2296924942&fm=253&fmt=auto&app=138&f=JPEG?w=800&h=500) 100%
      no-repeat;
    background-size: 100% 100%;
    padding: 50rpx 0 207rpx 30rpx;
    .section_3 {
      margin-left: 9rpx;
      .text-wrapper_2 {
        margin: 17rpx 0 154rpx 0;
        .text_2 {
          overflow-wrap: break-word;
          color: rgba(255, 255, 255, 1);
          font-size: 36rpx;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 50rpx;
          margin-right: 240rpx;
        }
        .text_3 {
          overflow-wrap: break-word;
          color: rgba(255, 255, 255, 1);
          font-size: 36rpx;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 50rpx;
          margin-top: 27rpx;
        }
      }
      .image_2 {
        width: 368rpx;
        height: 298rpx;
        margin-left: -161rpx;
      }
    }
    .button_1 {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 38px;
      margin: 861rpx 30rpx 0 0;
      padding: 17rpx 248rpx 16rpx 248rpx;
      .text_4 {
        overflow-wrap: break-word;
        color: rgba(249, 101, 30, 1);
        font-size: 32rpx;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 45rpx;
      }
    }
    .group_2 {
      background-color: rgba(218, 97, 19, 1);
      border-radius: 10px;
      height: 714rpx;
      width: 674rpx;
      position: absolute;
      left: 39rpx;
      top: 305rpx;
      padding: 29rpx 16rpx 71rpx 16rpx;
      .image-wrapper_1 {
        background-color: rgba(252, 250, 244, 1);
        border-radius: 10px;
        padding: 34rpx 14rpx 148rpx 14rpx;
        .image_3 {
          width: 614rpx;
          height: 432rpx;
        }
      }
    }
    .image-wrapper_2 {
      height: 276rpx;
      background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge1d6acd33491a0c675d04364a54c337802e6b4cec47164d7b33166419a27e9d3)
        100% no-repeat;
      background-size: 100% 100%;
      width: 674rpx;
      position: absolute;
      left: 39rpx;
      top: 861rpx;
      .image_4 {
        width: 334rpx;
        height: 148rpx;
        margin: -20rpx 170rpx 148rpx 170rpx;
      }
    }
  }
}
